/* CSS Variables */
:root {
    --primary-color: #1e3a8a;
    --secondary-color: #f97316;
    --accent-color: #10b981;
    --background-color: #f3f4f6;
    --body-font: 'Arial', sans-serif;
    --text-color: #111827;
}

/* Universal Selector Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    align-items: left;
}

/* Body Styling */
body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1200px;
    margin-top: 20px;
    /* centers content */
}

/* Header, Main, Footer Width */
header,
main,
footer {
    max-width: 1200px;
    margin-top: 20px;
}

/* Logo Styling */
.logo {
    width: 150px;
    display: block;
    margin-bottom: 1rem;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero h1 {
    position: absolute;
    width: 100%;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent-color);
    color: #fff;
}

/* Social Media Nav */
.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia img {
    width: 40px;
    height: 40px;
}