/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */
nav {
    background-color: #f9f7fa;
    padding: 10px;
}

/* Navigation links */
nav a {
    color: rgb(39, 18, 231);
    padding: 10px;
    display: block;
    text-decoration: none;
}

/* Main section */
main {
    max-width: 800px;
}

/* Heading */
h1 {
    color: #090a0a;
}

/* Profile image inside main */
main img {
    width: 200px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px gray;
}

main img {
    float: right;
    margin-left: 1rem;
    /* adds space between image and paragraph */
    margin-bottom: 1rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    /* you can change color */
    background-color: #f0f0f0;
    /* choose your own background */
    color: #222;
    /* choose your own text color */
}

/* Aside section */
aside {
    width: 300px;
    margin: 20px;
    border: 1px solid #333;
    padding: 15px;
    background-color: #f4f4f4;
    color: #333;
}

/* Image inside aside */
aside img {
    width: 200px;
    height: auto;
}

aside {
    position: relative;
    /* makes absolute positioning of h2 relative to aside */
}

aside h2 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.25rem 0.5rem;
}

/* Paragraph */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}