/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

/* Navigation bar */
nav {
    display: flex;
    padding: 1rem;
    background-color: steelblue;
    justify-content: space-evenly;
    align-items: center;
}

/* Navigation links */
nav a {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}

/* Main section */
main {
    grid-column: 2/3;
    margin: 1rem;
}

/* Heading */
h1 {
    border-bottom: 2px solid #333;
}

/* Profile image inside main */
main img {
    width: 200px;
    height: auto;
    border: 1px solid #333;
    padding: 5px;
    box-shadow: 0 0 10px gray;
}

main img {
    float: right;
    margin-left: 1rem;
    /* adds space between image and paragraph */
    margin-bottom: 1rem;
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #333;
    /* you can change color */
    background-color: #f0f0f0;
    /* choose your own background */
    color: #222;
    /* choose your own text color */
}

/* Aside section */
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid {
    display: grid;
    align-items: center;
}

/* Image inside aside */
aside img {
    width: 200px;
    height: auto;
}

aside {
    position: relative;
    /* makes absolute positioning of h2 relative to aside */
}

aside h2 {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.25rem 0.5rem;
}

/* Paragraph */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 20px;
    border-top: 2px solid #333;
    text-align: center;
}